@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#110025, #4f0077);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--foreground);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 75px;
  position: relative;

  .logoimg {
    background-image: url("/repolink-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 100%;
  }

  .githubimg {
    background-image: url("/github-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 15px;
    filter: brightness(3);
    transition: 0.3s;

    &:hover {
      filter: brightness(5);
      cursor: pointer;
    }
  }

  .logotext {
    font-weight: bold;
    font-size: 35px;
  }
}

.gradtext {
  background: linear-gradient(#5049c2, #e6b7fe);
  background-clip: text;
  color: transparent;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  overflow: scroll;

  .big {
    font-size: 30px;
    font-weight: bold;
  }
  .repolink {
    font-size: 25px;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in-out;
    width: fit-content;
  }
  .container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
  }
  .gitURL {
    color: gray;
    font-size: 14px;
    margin: 10px;
  }
  label {
    font-weight: bold;
    display: block;
    position: absolute;
    left: 20px;
    top: -15px;
    background: #5049c2;
    padding: 3px 5px;
    border-radius: 15px;
  }

  .inputContainer {
    margin: 30px auto;
    width: 95%;
    max-width: 700px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    position: relative;
    &:focus-within {
      border: 1px solid white;
    }
    animation: fadeIn 0.3s ease-in-out;
  }
  .inputBox {
    padding: 10px;
    outline: none;
    width: 100%;
    transition: 0.3s;
    font-size: 16px;
  }
  .button {
    background-color: black;
    border-radius: 15px;
    transition: 0.5s;
    padding: 5 10px;

    &:hover {
      cursor: pointer;
      background-color: #3c0074;
      transform: scale(1.1)
    }
  }

  .button2 {
    background-color: black;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5 20px;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      background-color: #3c0074;
      transform: scale(1.1)
    }
  }

  .error {
    color: red;
    margin: 0 auto 15px;
    background-color: black;
    width: fit-content;
    border-radius: 10px;
    padding: 5 10px;
    animation: fadeIn 0.3s ease-in-out;
  }
  .preview {
    background-color: black;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
    animation: fadeIn 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #3c0074;
      transform: scale(1.1)
    }
  }
  .bigger-text {
    font-size: 20px;
    font-weight: bold;
    overflow: scroll;
  }

}